:root {
  /* General */
  --primary-color: #fdce00;
  --secondary-color: #22160a;
  --text-gradient: linear-gradient(170deg, #e99904, var(--primary-color));
  --prime-gradient: linear-gradient(30deg, var(--primary-color), #e99904);
  --left-space: 150px;
  --view-width: calc(100vw - 15px);

  /* Header width for calculations */
  --header-width: 80px;
}
/* -------------------- */
/*        Reset         */
/* -------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary-color);
}
/* --------------------- */
/*        html           */
/* --------------------- */
html {
  scroll-behavior: smooth;
}
/* --------------------- */
/*        body           */
/* --------------------- */

body {
  font-family: 'Gill Sans', sans-serif;
}

/* -------------------- */
/*        header        */
/* -------------------- */
header {
  --horizontal-padding: 10vw;

  max-width: 100vw;
  height: var(--header-width);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
/* navbar */
header nav ul {
  list-style-type: none;
  display: flex;
}
/* nav link */
header nav .nav-link {
  padding: calc(var(--header-width) / 3) calc(var(--horizontal-padding) / 2);
  text-decoration: none;
}
header nav .nav-link:hover {
  background-color: rgba(184, 184, 184, 0.197);
}

/* ----------------------- */
/*     intro section       */
/* ----------------------- */
#intro-section {
  /*---------------------------
   * making sure that width don't 
   * exceed the view-width and 
   * view height.
   ----------------------------*/
  width: var(--view-width);
  max-width: 100vw;
  height: calc(100vh - var(--header-width));
  max-height: 100vh;

  padding-left: var(--left-space);
  padding-top: 20vh;
}
#intro-section h1 {
  font-size: 5rem;
}

/* ------------------------- */
/*     about me section      */
/* ------------------------- */
#about-section {
  height: 100vh;
  max-height: 100vh;
  min-height: 657px;
  width: var(--view-width);
  max-width: 100vw;

  padding-top: 80px;
  background-color: #f2c600;

  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
#about-section img {
  width: 350px;
  height: 350px;
}
#about-section h1 {
  font-size: 3rem;
  line-height: 2;
}
#about-section p {
  font-size: 1.2rem;
  width: 420px;
  text-align: justify;
  line-height: 1.5;
}
/* --------------------------- */
/*        work section         */
/* --------------------------- */
#work-section {
  width: var(--view-width);
  max-width: 100vw;
  min-height: 100vh;
  padding-top: 50px;
  margin-bottom: 10rem;
}
#work-section > h1 {
  font-size: 3rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 5rem;
}
#work-section #projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 150px;
}
#work-section #projects .project {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 50px;
}
#work-section #projects .project .project-img {
  width: 580px;
  min-width: 425px;
  height: 300px;
  object-fit: fill;
}
#work-section #projects .project .project-title {
  font-size: 2rem;
  line-height: 2;
}
#work-section #projects .project .project-details {
  width: 420px;
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: justify;
}
/* --------------------------- */
/*       Contact section       */
/* --------------------------- */
#contact-me {
  background: var(--prime-gradient);
  height: 380px;
  width: var(--view-width);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);

  text-align: center;
  padding-top: 90px;
}
#contact-me h1 {
  font-size: 3rem;
  line-height: 2;
}
#contact-me p {
  font-size: 1.7rem;
}

/* ---------------------- */
/*        footer          */
/* ---------------------- */
footer {
  width: var(--view-width);
  background-color: var(--secondary-color);
  text-align: center;
}
footer p,
footer a {
  color: var(--primary-color);
  font-size: 1.3rem;
  padding: 10px 0;
}

/* ---------------------------- */
/*        general classes       */
/* ---------------------------- */
/* show the text as gradient */
.highlight {
  background-image: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* make the element a button */
.btn {
  text-decoration: none;
  border: 2px solid var(--primary-color);
  padding: 10px 30px;
  font-size: 1.4rem;
  font-weight: bold;
  background-image: var(--prime-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn:hover {
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: var(--secondary-color);
  border: none;
}
.btn.dark {
  background-image: linear-gradient(
    var(--secondary-color),
    var(--secondary-color)
  );
  -webkit-text-fill-color: var(--primary-color);
  border-color: var(--secondary-color);

  background-clip: unset;
  -webkit-background-clip: unset;
}
.btn.dark:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.top-space {
  position: relative;
  top: 40px;
}

/* ---------------------------- */
/*      Responsive code         */
/* ---------------------------- */
@media (max-width: 1110px) {
  /* Intro section */
  #intro-section {
    padding-top: 30vh;
  }
  #intro-section h1 {
    font-size: 3rem;
    line-height: 1.5;
  }

  /* Work Section */
  #work-section #projects .project {
    flex-direction: column;
    height: 100% !important;
  }
  #work-section #projects .project-img {
    width: 60vw !important;
    height: 100% !important;
  }
}

@media (max-width: 900px) {
  #about-section {
    min-height: 520px;
    padding: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  #about-section img {
    width: 250px;
    height: 250px;
  }
  #about-section h1 {
    font-size: 2rem;
  }
  #about-section p {
    font-size: 0.9rem;
    width: 320px;
  }
}
